Source: ruby-cute
Section: ruby
Priority: optional
Maintainer: Lucas Nussbaum <lucas@debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb, ruby-rspec, rake, yard, ruby-webmock, ruby-simplecov, ruby-rest-client, ruby-ipaddress, ruby-net-ssh-multi
Standards-Version: 3.9.5
Vcs-Git: git://github.com/ruby-cute/ruby-cute
Vcs-Browser: https://github.com/ruby-cute/ruby-cute
Homepage: http://ruby-cute.github.io/
Testsuite: autopkgtest
XS-Ruby-Versions: all

Package: ruby-cute
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-rest-client, ruby-json, ruby-ipaddress, ruby-net-ssh-multi
Recommends: pry
Description: Critically Useful Tools for Experiments
 Ruby library for controlling experiments
